<html ng-app="listaTelefonica">
<head>
<title>Lista Telefonica</title>
<link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css">
<style>

/* sobrecarregando classes, definindo novos comportamento */
	.jumbotron {
		width: 400px;
		text-align: center;
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
	}
	.table {
		margin-top: 20px;
	}
	.form-control {
		margin-bottom: 5px;
	}
	.selecionado {
		background-color: yellow;
		font-weight: bold;
	}
</style>
<script src='lib/angular/angular.js'></script>
<script>
/* 
	Definindo modulo da aplicação

	Os colchetes significam o conjunto de módulos que você quer importar, pois o angular permite de uma forma modular fazer a concatenação de componentes com outros módulos.

	Fazendo isso trazemos todos: serviços, diretivas, módulos.

 */
angular.module("listaTelefonica", []);

// definindo um controller com $scope *utilizado pelo mesmo*
angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function($scope) {
//definindo variável
$scope.app = "Lista Telefonica";

// definindo variável
$scope.contatos = [
	{nome: "Pedro", telefone: "999763606", cor: "blue"},
	{nome: "Ana", telefone: "999768456", cor: "red"},
	{nome: "Maria", telefone: "999739606", cor: "green"}
];

$scope.operadoras = [
	{nome: "Oi", codigo: 14, categoria: "Celular"},
	{nome: "Vivo", codigo: 15, categoria: "Celular"},
	{nome: "Tim", codigo: 41, categoria: "Celular"},
	{nome: "Claro", codigo: 91, categoria: "Fixo"}
];

// definindo função
$scope.adicionarContato = function(contato) {
	/* Teste se o nome e telefone (ng-model) estão mesmo no $scope
	console.log("Nome: " + $scope.nome + "\nTelefone: " + $scope.telefone); */

	/* Usando
	 $scope.contatos.push({nome: $scope.nome  lendo o scope , telefone: $scope.telefone lendo o scope }); 
	
	Insere os valores no final do array, ver conceitos de arrays em JS para mais.

		Esta é uma forma RUIM de passar parâmetro pois está quebrando um mantra precioso.
		
		--- MANTRA --

		Devemos EVITAR ao máximo ler o $scope estando dentro do controller.
		Isso acaba deixando as coisas menos claras e gera problemas no futuro de testes unitários.
	*/

	/*	Usando	$scope.contatos.push(contato);
	
	O twoway databinding vai te fuder, tu precisa lidar com esse ciclo!!
	
		Abaixo, opções para isso.			 */

	/* uma opção para "desviar" o ciclo do twoway databinding é usar uma função do objeto angular */
	$scope.contatos.push(angular.copy(contato));
	
	delete $scope.contato; 
	/*	Outra opção para quebrar o ciclo é
	$scope.contatos.push(contato);
	e deletar o objeto contato	*/
};

$scope.apagarContatos = function (contatos) {
	$scope.contatos = contatos.filter(function (contato) {
		if (!contato.selecionado) return contato;
	});
	
};

$scope.isContatoSelecionado = function(contatos) {
	return contatos.some(function (contato){
		return contato.selecionado;
	});
};
});
</script>
</head>
<body ng-controller="listaTelefonicaCtrl">
<div class="jumbotron">
	
	<!--<h3 ng-bind="app"></h3> ou com interpolação de expressão (abaixo) -->
	<h3>{{app}}</h3>
		
	<!-- Exemplo de utilização do ng-repeat-->	
	<table ng-show="contatos.length > 0" class="table">
		<tr>
			<th></th>
			<th>Nome</th>
			<th>Telefone</th>
			<th>Operadora</th>
			<th></th>
		</tr>
		<!-- exemplo de utilização do ng-class -->
		<tr ng-class="{selecionado: contato.selecionado}" ng-repeat="contato in contatos" >
			<td><input type="checkbox" ng-model="contato.selecionado"></td>
			<td>{{contato.nome}}</td>
			<td>{{contato.telefone}}</td>
			<td>{{contato.operadora.nome}}</td>
			<td><div style="width: 20px; height: 20px;" ng-style="{'background-color': contato.cor}"></div></td>
		</tr>
	</table>
	
	<!--
	- Outros exemplos:
				
	<table class="table table-striped">
		<tr>
			<th>Nome</th>
			<th>Telefone</th>
		</tr>
		<tr ng-repeat="contato in contatos" >
			<td ng-repeat="(key,value) in contato">{{value}}</td>
		</tr>
	</table>
				ou

	<table class="table table-striped" ng-repeat="contato in contatos" >
		<tr>
			<th ng-repeat="(key, value) in contato">{{key}}</th>
		</tr>
		<tr>
			<td ng-repeat="(key, value) in contato">{{value}}</td>
		</tr>
	</table>						-->

	<hr/>
	<!-- O ng-model faz a relação do componente para o $scope e aqui no caso são os valores nome e telefone que automaticamente são usados na expressão abaixo.	-->
	<input class="form-control" type="text" ng-model="contato.nome" placeholder="Nome" />
	<input class="form-control" type="text" ng-model="contato.telefone" placeholder="Telefone" />

	<!--	{{contato}}
	Esta utilização do ng-bind/interpolação de expressão e o ng-model é um exemplo de DE TWOWAY DATABINDING. -->

	<!-- Exemplos de utilização do ng-options, nota-se que precisa do ng-model para pegar o que será selecionado e o ng-options popula o select com opções de algum objeto utilizando uma expressão:

	ng-options="operadora.nome for operador in operadoras"	
	ou
	ng-options="operadora.codigo as operadora.nome for operador in operadoras"
	ou	 -->
	<select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras">
	<option value="">Selecione uma operadora</option>
	</select>

	<!-- Exemplo de utilização do ng-click, a função precisa estar declarada no $scope do controller utilizado.
	Exemplo de utilização do ng-disabled, que só desabilita o botão é igual a true	-->
	<button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="!contato.nome || !contato.telefone || !contato.operadora.nome">Adicionar Contato</button>
	<button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" ng-hide="!isContatoSelecionado(contatos)">Apagar Contato</button>
	
	<!-- -->
	
</div>
<div ng-include="'listaFooter.html'"></div>
</body>
</html>